body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background: #ffffff;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.login-container h1 {
  text-align: center;
  color: #fa724c;
  margin-bottom: 20px;
  width: 96%;
}

/* Adjust width and padding for inputs */
input[type="email"],
input[type="password"] {
  width: 100%; /* Set inputs to take full width of the container */
  padding: 12px; /* Increase the padding inside inputs */
  margin-bottom: 15px; /* Add space below each input */
  border: 1px solid #ccc; /* Optional: Input border */
  border-radius: 5px; /* Optional: Round the input corners */
  box-sizing: border-box; /* Include padding in width calculations */
}


.login-container label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background: #fa724c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background: #fa724c;
}

.login-container p {
  text-align: center;
}

.login-container p a {
  color: #fa724c;
  text-decoration: none;
}

.login-container p a:hover {
  text-decoration: underline;
}